<div class="bg-dark text-white text-center">
    <h1>Header</h1>
    <div class="container my-3 row tex">
        <div class="column text-center">
            <button class="btn btn-dark" (click)="changeHome()"> Home </button>
        </div>
        <div class="column text-center">
            <button class="btn btn-dark" (click)="changeCbbs()"> Cbbs </button>
        </div>
        <div class="column text-center">
            <button class="btn btn-dark" id="quickBtn" (click)="changeQuick()"> Quick </button>
        </div>
    </div>
</div>

