<h1 class="container bg-dark text-white text-center my-4 py-4"> Hello world </h1>
<div class="container">
    <div id="body-but" class="container text-center my-4">
        <button class="btn btn-dark"> Click Here </button>
    </div>

    <div *ngIf="show"
        class="card card-inverse card-primary mb-3 text-center">
        <div class="card-block">
            <div class="card-blockquote">
                <p>{{ text }}</p>
                <footer><cite title="Source Title"> {{ author }} </cite></footer>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
